<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/home">Back</a>
	
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Product Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>ACTION</th>
		</tr>
		<% for(var i = 0; i < productList.length; i++){ %>

		<tr>
			<td><%= productList[i].pid %></td>
			<td><%= productList[i].pname %></td>
			<td><%= productList[i].quantity %></td>
			<td><%= productList[i].price %></td>
			<td><a href="/home/pedit/<%= productList[i].pid %>">Edit</a> | <a href="/home/pdelete/<%= productList[i].pid %>"> Delete</a> </td>
		</tr>
		
		<% } %>

	</table>
</body>
</html>